/* RESET */
* {
    outline: 1px solid rgb(255, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* COMMON  */
.container {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 100%;
}

/* HEADER */
header {
    height: 7vh;
}

.button-container {
    top: 3px;
    right: 3px;
}

.button {
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    margin-right: 4px;
    border: none;
}


/* MAIN */
main {
    height: 83vh;
    width: 90vw;
    margin: 0 auto;
}

.card {
    width: calc(100% / 7);
    padding: 5px 2px;
    max-height: calc(100% / 5);
}

.user-details {
    position: absolute;
    bottom: 5px;
    left: 2px;
    padding: 2px;
    background-color: rgba(128, 128, 128, 0.501);
}

/* FOOTER */

footer {
    height: 10vh;
}


